body {
    margin: 0;
    background-position: center;
    background-image: url("assets/loveBackground.png");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(133, 215, 194, 0.4);
    border-radius: 0 0 20px 20px;
}

#mainTitle {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 420%;
}

.barItem {
    display: inline-block;
    padding: 5%;
}

#title {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 12%;
    font-family: 'EB Garamond', serif;
    font-size: 320%;
    font-style: italic;
}

#description {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-bottom: 7%;
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
}

.listHead {
    font-family: 'EB Garamond', serif;
    margin-left: 5%;
    font-size: 200%;
    font-style: italic;
}

.listText {
    font-family: 'Comfortaa', cursive;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 9%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 2%;
}